<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cats</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Cats</h1>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/Cat1.jpg" alt="car_pic">
      </div>
      <div class="col">
        <img src="/images/Cat2.jpg" alt="car_pic">
      </div>
      <div class="col">
        <img src="/images/Cat3.jpg" alt="car_pic">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="/images/Cat5.jpg" alt="car_pic">
      </div>
      <div class="col">
        <img src="/images/Cat6.jpg" alt="car_pic">
      </div>
      <div class="col">
        <img src="/images/Cat7.jpg" alt="car_pic">
      </div>
    </div>
    <a href="/"><button class="btn btn-primary" type="button">Go Back</button></a>
  </div>
</body>

</html>
