<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Products List</h1>
            <div class="products">
                <div class="product" *ngFor="let product of products">
                    <img [src]="product.imgurl" alt="No Image">
                    <h5>{{ product.name }}</h5>
                    <h6>{{ product.price | currency }}</h6>
                    <button class="btn btn-info m-1" [routerLink]="['edit/' + product._id]">Edit</button>
                    <button class="btn btn-danger" (click)="onDelete(product._id)">Delete</button>
                </div>
            </div>
        </div>
        <div class="col-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>