<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cats EJS</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Cats Data</h1>
    </div>
    <div class="row">
      <div class="col">
        <a href="/details/1"><img src="/images/Cat1.jpg"></a>
      </div>
      <div class="col">
        <a href="/details/2"><img src="/images/Cat2.jpg"></a>
      </div>
      <div class="col">
        <a href="/details/3"><img src="/images/Cat3.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="/details/4"><img src="/images/Cat4.png"></a>
      </div>
      <div class="col">
        <a href="/details/5"><img src="/images/Cat5.jpg"></a>
      </div>
      <div class="col">
        <a href="/details/6"><img src="/images/Cat6.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="/details/7"><img src="/images/Cat7.jpg"></a>
      </div>
      <div class="col">
        <a href="/details/8"><img src="/images/Cat8.jpg"></a>
      </div>
      <div class="col">
        <a href="/details/9"><img src="/images/Cat9.jpg"></a>
      </div>
    </div>
  </div>
</body>

</html>
