.container {
    background-color: white;
    height: 625px;
    margin: 20px;
    padding: 10px;
    overflow-y: scroll;
}
.align-right {
    text-align: right;
}

.note {
    border: 1pt solid black;
    padding: 10px;
}