<div class="container">
    <h1 class="display-1 row pb-2 mt-4 mb-2 border-bottom">Buy ShintoCoin</h1>
    <h4>Current ShintoCoin Value: ${{ value }}</h4>
    <h4>Number of ShintoCoin Owned: {{ coins | number }}</h4>
    <form (submit)="onBuy()">
        <input class="p-1 m-1" min="1" step="1" type="number" name="number" [(ngModel)]="amount">
        <button type="submit" class="btn btn-success font-weight-bold ml-5">Buy</button>
    </form>
    <p *ngIf="message" class="text-danger font-weight-bold">{{ message }}</p>
</div>