<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="container">
  <div class="jumbotron">
    <h1>Restful API Tasks</h1>
  </div>
  <main>
    <button class="btn btn-outline-primary" (click)="getTasksFromService()">GET ALL TASKS</button>
    <h4 *ngFor="let task of tasks">{{ task.title }} <button class="btn btn-outline-info" (click)="getTaskFromService(task._id)">SHOW</button></h4>
  </main>
  <div class="task" *ngIf="task">
    <h4>{{ task.title }}</h4>
    <h5>{{ task.description }}</h5>
  </div>
</div>
  

<router-outlet></router-outlet>