button {
    margin: 5px !important;
}

.container {
    padding: 25px;
    text-align: center;
}

form {
    margin-bottom: 20px;
    text-align: left
}

h1 {
    vertical-align: middle
}

h4 {
    margin: 20px;
}

.indent{
    margin-left: 175px !important;
}

input {
    padding: 5px;
}

.jumbotron {
    align-items: center;
    display: flex;
    height: 80px !important;
    justify-content: center;
}

.scroll{
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.submit{
    margin-top: 25px;
    text-align: left;
}

td {
    padding: 5px;
}